#game {
  display: grid;
  grid-template-columns: repeat(16, 40px);
}

.cell {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.emptiness {
  background-image: url("back.png");
  background-size: cover;
}

.emptiness2 {
  background-image: url("back2.png");
  background-size: cover;
}

.wall {
  background-image: url("stena.png");
  background-size: cover;
}

.floor {
  background-size: cover;
  background-image: url("floor.png");
}

.door {
  background-image: url("door.png");
  background-size: cover;
}

.door2 {
  background-image: url("door2.png");
  background-size: cover;
}

.box {
  background-image: url("box.png");
  background-size: cover;
}

.checkPoint {
  background-image: url("chek.png");
  background-size: cover;
}

.man {
  background-image: url("mna.png");
  background-size: cover;
}

.boxAtCheckpoint {
  background-image: url("boxC.png");
  background-size: cover;
}

.closeDoor {
  background-image: url("closeDoor.png");
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-image: url("podzemele.webp");
}

#hud {
  display: flex;
  justify-content: space-between;
  width: 640px;
  padding: 10px;
  margin: 20px 0;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px 20px rgba(65, 53, 75, 0.781);
  padding: 0px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: rgba(52, 47, 61, 0.894);
  padding: 30px 50px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.95);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#start-button.btn:hover {
  background-color: rgba(255, 255, 255, 0.853);
}

.btn {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #22222200;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(188, 215, 209, 0.853);
  color: #1e1028;
}
